@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 100svh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.left {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    height: 100svh;
    width: 22%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: none;
}

.right {
    width: 78%;
    height: 100svh;
}

.tags {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin-top: 4rem;
    text-align: left;
    width: 50%;
    transition: all 0.1s ease-in-out;
    font-weight: 500;
}

.tags:hover {
    color: rgb(240, 112, 77);
    cursor: pointer;
}

.home {
    width: 100%;
    height: 100svh;
    background-color: antiquewhite;
    padding: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home>h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin: 2rem 0 0 2rem;
}

.home>p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
    margin: 1rem 2rem 2rem 2rem;
}

.contact {
    height: 100svh;
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 1rem 0 0 4rem;
    display: none;

}

.contact>.heading {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin: 2rem 0 0 0;
}

.contact>.title {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    margin: 2rem 0 0 0rem;
    font-weight: 500;
    word-spacing: 0.5rem;
}

.textbox_wrapper>.textbox {
    background-color: rgb(224, 224, 224);
    width: 80%;
    height: 3.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0 0 2.5rem 0;

}

.textbox_wrapper {
    height: fit-content;
    width: 50%;
    margin: 2rem 0 0 0rem;
    padding: 1rem 0;
}

input {
    outline: none;
    border: none;
    caret-color: #000000;
}

input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(74, 74, 74);
}

.parentWrapper {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    width: 90%;
}

.contact>.message {
    width: 60%;
    background-color: rgb(224, 224, 224);
    height: 9rem;
    font-size: 1.5rem;
    padding: 1rem;
}

textarea {
    resize: none;
    outline: none;
    border: none;
}

textarea:focus {
    outline: none;
    border: none;
}

textarea::placeholder {
    color: rgb(74, 74, 74);
}

.submit {
    width: 20rem;
    height: 4rem;
    background-color: #000000;
    margin: 2.5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

.submit>span {
    margin: 0 0 0 1rem;
}

.submit:hover {
    background-color: aliceblue;
    color: #000000;
    cursor: pointer;
    border: 1px solid black;
}

.info {
    height: 100vh;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 1rem 4rem;
    display: none;
}

.info>h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
}

.info>.main-wrapper {
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 2rem 0 0 0;
}

.main-wrapper>img {
    border-radius: 1rem;
}

.main-wrapper>h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.article-wrapper {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    margin: 2rem 0 0 0;
    overflow-y: scroll;
    height: 25rem;
    scrollbar-color: rgb(21, 146, 255);
}

.article-wrapper::-webkit-scrollbar {
    display: none;
}

.main-wrapper>p {
    margin: 1rem 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.btn {
    color: rgb(255, 255, 255)
}

.btn.active {
    color: orange;
}

.guide {
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
    display: none;
}

.guide>.wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1rem 1rem 0 2rem;
}

.wrapper>h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0 0 1rem;
}

.wrapper img {
    height: 25vh;
    border-radius: 2rem;
    margin: 1rem 0 0 0;
    max-width: 100%;

}

.wrapper p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0 2rem 1rem;
    line-height: 1.8rem;
}

.wrapper>h4 {
    overflow-y: scroll;
    height: 25rem;
    width: 90%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 0 0 1rem;
    line-height: 1.8rem;
}

.wrapper h4::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .left {
        width: 100%;
        display: none;
    }

    .navbar {
        width: 100%;
        background-color: #000000;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: center;
        color: #f2f2f2;
        padding: 0 2rem 0 0;
        font-size: 2rem;
        transition: all 0.2s ease-in-out;
    }

    .navbar>.buttons {
        width: 70%;
        display: none;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 2rem;
    }


    .right {
        width: 100%;
        height: 90svh;
    }

    .guide {
        padding: 0;
    }

    .guide>.wrapper {
        padding: 1rem;
    }

    .home h3,
    p {
        width: 100%;

    }

    .home p {
        margin: 1rem 0 0 0;
    }
}